<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
<div class="dashboard-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <!-- Заменили user-icon на profile.png -->
      <img src="/css/images/TOK.jpg" alt="Profile" class="user-icon" />

      <h2 th:text="'Здравствуйте, ' + ${username}">Здравствуйте, Пользователь!</h2>
    </div>
    <nav class="menu">
      <ul>
        <li><a th:href="@{/dashboard}">Главная</a></li>
        <li><a th:href="@{/users}">Пользователи</a></li>
        <li><a th:href="@{/accounts}">Аккаунты</a></li>
        <li><a th:href="@{/transactions}">Транзакции</a></li>
        <li><a th:href="@{/logout}">Выход</a></li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <header class="main-header">
      <h1>Главная</h1>
    </header>
    <section class="stats">
      <div class="card">
        <h2>28%</h2>
        <p>Прогресс</p>
      </div>
      <div class="card">
        <h2>80%</h2>
        <p>Статистика</p>
      </div>
      <div class="card">
        <h2>1000₸</h2>
        <p>Баланс</p>
      </div>
    </section>
    <section class="charts">
      <div class="chart">
        <h2>Карта 1</h2>
        <img src="/css/images/1з.jpg" alt="Карта 1" />
      </div>
      <div class="chart">
        <h2>Карта 2</h2>
        <img src="/css/images/3з.jpg" alt="Карта 2" />
      </div>
    </section>
  </main>
</div>
</body>
</html>
