<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="login-wrapper">
  <div class="login-box">
    <h2>CREATE AN ACCOUNT</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
      <div class="form-group">
        <label for="username">USERNAME</label>
        <input type="text" th:field="*{username}" id="username" required class="form-control"/>
      </div>
      <div class="form-group">
        <label for="password">PASSWORD</label>
        <input type="password" th:field="*{password}" id="password" required class="form-control"/>
      </div>
      <div class="form-group">
        <label for="email">EMAIL</label>
        <input type="email" th:field="*{email}" id="email" required class="form-control"/>
      </div>

      <button type="submit" class="btn">Register</button>
    </form>
    <p style="margin-top: 10px; text-align: center;">
      Уже есть аккаунт? <a th:href="@{/login}">Войти</a>
    </p>
  </div>
</div>
</body>
</html>
